/*@tailwind base;
@tailwind components;
@tailwind utilities;*/

:root {
  --primary: red;
  --secondary: #8a4efc;
  --light: #eee;
  --light-alt: #61759b;
  --dark: #131a26;
  --dark-alt: #202b3e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body {
  background-color: var(--dark-alt);
  color: var(--light);
}

.App {
  padding: 32px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 32px;
}

h4 {
  font-size: medium;
  color: var(--light-alt);
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 16px;
}

.todo {
  position: relative;
  background-color: var(--dark);
  padding: 16px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
  margin-bottom: 16px;
}

.todo:hover {
  opacity: 0.8;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin-right: 16px;
  border-radius: 999px;
  background-color: var(--dark-alt);
  transition: 0.4s;
}

.checkbox-selected {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(105, 121, 9, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.todo .text {
  font-size: 20px;
}

.text {
  text-decoration: line-through;
}

.delete-todo {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  width: 24px;
  height: 24px;
  color: var(--light);
  background-color: #af1f2d;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.addpopup {
  position: fixed;
  bottom: 32px;
  right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 64px;
  height: 64px;
  border-radius: 999px;
  font-size: 28px;
  font-weight: 900;
  color: var(--light);

  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(113, 9, 121, 1) 46%,
    rgba(0, 212, 255, 1) 80%
  );
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  max-width: 400px;
  background-color: var(--light);
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0px 3px 24px var(--dark);
}

.closepopup {
  position: absolute;
  top: 16px;
  right: 20px;
  width: 20px;
  height: 20px;
  font-size: 18px;
  color: var(--dark);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  color: var(--light);
  border-radius: 50%;
}

.popup h3 {
  color: var(--dark);
  margin-bottom: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.add-todo-input {
  appearance: none;
  border: none;
  outline: none;
  background-color: #fff;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.2);
  width: 100%;
  font-size: 20px;
}

.button {
  padding: 16px 32px;
  border-radius: 99px;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 16px;
  text-align: center;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  cursor: pointer;
}
